# Node.js
node_modules/
npm-debug.log
yarn-error.log

# MySQL
*.sql
*.sql.gz

# VSCode
.vscode/

# Sandbox directory
sandbox/

# ENV files
.env
.env*
!.env.example

# MISC
.instructions

# Build files
build
dist